body {
    background: beige;
   
}

div.anabaslik {
    background:rgb(166, 137, 98) ;
    width: 50%;
    border-width: 50%;
    border-radius: 25px;
}

div a {
    color: rgb(115, 48, 0);
    padding: 10%;
    font-size: 16px;
    
}

p {
    color: saddlebrown;
    background-color: rgb(220, 192, 151);
    opacity: 0.7;
    border-radius: 1px;
}

h1 {
    color: rgb(73, 37, 10);
    text-shadow: 2px 2px 5px rgb(75, 32, 1);
}

h2 {
    color: rgb(73, 37, 10);
    text-shadow: 2px 2px 5px rgb(75, 32, 1);
}

ul {
    color: rgb(192, 140, 64);
}

.container {
    color: rgb(75, 32, 1);
}